階層式索引 , 兩個以上的index
兩個索引應該算二維資料
二維資料裡面的堆疊資料(長資料) 9 個
二維資料裡面非堆疊資料(寬資料) 12個

In [16]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
               index =[['a','a','a','b','b','c','c','d','d'],
                       [1,2,3,1,2,3,1,2,3]])
s1
s1.index.names = ['index1','index2']
s1.unstack()

index2         1         2         3
index1
a      -0.186227 -0.537616  0.022074
b       1.568779 -0.658042       NaN
c       0.105179       NaN -1.308410
d            NaN -0.615951 -0.634086

In [9]:
s1['a']

index2
1   -0.195601
2    0.147120
3    0.822385
dtype: float64

In [10]:
s1['a'][-2:]

index2
2    0.147120
3    0.822385
dtype: float64

In [14]:
s1['b']

index2
1    1.756493
2    0.394137
dtype: float64

改變欄位排列方式 叫做 樞紐分析(pivot)

In [20]:
s1.unstack('index1')

index1         a         b         c         d
index2
1      -0.186227  1.568779  0.105179       NaN
2      -0.537616 -0.658042       NaN -0.615951
3       0.022074       NaN -1.308410 -0.634086

In [19]:
s1.unstack('index2')

index2         1         2         3
index1
a      -0.186227 -0.537616  0.022074
b       1.568779 -0.658042       NaN
c       0.105179       NaN -1.308410
d            NaN -0.615951 -0.634086

In [27]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index = [['a','a','b','b'],[1,2,1,2]],
                     columns=[['台北','台中','台南'],['Green','Red','Green']]
                              )
frame.columns.names = ['縣市','顏色']
frame.index.names = ['key1','key2']
frame

縣市           台北  台中    台南
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [29]:
s2 = frame.stack(['縣市','顏色'],future_stack=True)
s2

key1  key2  縣市  顏色
a     1     台北  Green     0
            台中  Red       1
            台南  Green     2
      2     台北  Green     3
            台中  Red       4
            台南  Green     5
b     1     台北  Green     6
            台中  Red       7
            台南  Green     8
      2     台北  Green     9
            台中  Red      10
            台南  Green    11
dtype: int64

In [30]:
s2.unstack(['key1','縣市'])

key1          a              b
縣市           台北   台中   台南   台北    台中    台南
key2 顏色
1    Green  0.0  NaN  2.0  6.0   NaN   8.0
     Red    NaN  1.0  NaN  NaN   7.0   NaN
2    Green  3.0  NaN  5.0  9.0   NaN  11.0
     Red    NaN  4.0  NaN  NaN  10.0   NaN

In [31]:
s2.unstack(['縣市','顏色'])

縣市           台北  台中    台南
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [32]:
frame

縣市           台北  台中    台南
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [35]:
##建立一個叫做DataFrameGroupBy 的class , level為基準
frame.groupby(level='key1')

In [34]:
frame.groupby(level='key1').sum()

縣市      台北  台中    台南
顏色   Green Red Green
key1
a        3   5     7
b       15  17    19